<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>PYTHONPATH</key>
		<string>/Users/chenm4/Library/Application Support/CryptoQuant/challenger-replacement-v1/deployment/snapshot/src</string>
	</dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>local.crypto-quant.challenger-replacement-v1</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/chenm4/Library/Application Support/CryptoQuant/challenger-replacement-v1/deployment/snapshot/bin/python3</string>
		<string>-m</string>
		<string>crypto_quant.challenger_replacement_live_runtime_cli</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/chenm4/Library/Application Support/CryptoQuant/challenger-replacement-v1/log/challenger-replacement.stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/chenm4/Library/Application Support/CryptoQuant/challenger-replacement-v1/log/challenger-replacement.stdout.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
			<key>Minute</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>4</integer>
			<key>Minute</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>8</integer>
			<key>Minute</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>20</integer>
			<key>Minute</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>Umask</key>
	<integer>63</integer>
	<key>WorkingDirectory</key>
	<string>/Users/chenm4/Library/Application Support/CryptoQuant/challenger-replacement-v1/deployment/snapshot</string>
</dict>
</plist>
